<div class="register-container">
  

  <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <h2>Create Account</h2>
    <!-- Username -->
    <input
      type="text"
      placeholder="Username"
      formControlName="username"
    />
    <small class="error" *ngIf="f.username.touched && f.username.invalid">
      Username is required (min 3 characters)
    </small>

    <!-- First Name -->
    <input
      type="text"
      placeholder="First Name"
      formControlName="firstName"
    />
    <small class="error" *ngIf="f.firstName.touched && f.firstName.invalid">
      First name is required
    </small>

    <!-- Last Name -->
    <input
      type="text"
      placeholder="Last Name"
      formControlName="lastName"
    />
    <small class="error" *ngIf="f.lastName.touched && f.lastName.invalid">
      Last name is required
    </small>

    <!-- Email -->
    <input
      type="email"
      placeholder="Email"
      formControlName="email"
    />
    <small class="error" *ngIf="f.email.touched && f.email.invalid">
      Enter a valid email
    </small>

    <!-- Password -->
    <input
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <small class="error" *ngIf="f.password.touched && f.password.invalid">
      Password must be at least 6 characters
    </small>

    <!-- API Error -->
    <div class="error api-error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Registering...' : 'Register' }}
    </button>

    <p class="login-link">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </form>
</div>
